@import url('https://fonts.googleapis.com/css?family=Raleway:400,100');


*{
    margin: 0;
    padding: 0;  
}
body { 
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 1280px;
}

header{
    text-align: center;
    width: 100%;
    opacity: 1;
}

header h1{
    font-size: 50px;
    margin: 7px;
}

header img{
    width: 100%;
}

main div{
    margin-top: 73px;
    display: flow-root;
    opacity: 1;
}

main p {
    font-size: 16px;
    width: 475px;
    margin-left: 150px;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 106px;

}
main img{
    width: 399px;
    height: 237px;
    float: right;
    padding-bottom: 66px;
    padding-right: 150px;
}
.caracteristicas{
    background-color: #1E1A13;
    text-align: center;
    opacity: 0.98;
}

.title {
    padding-top: 75px;
    font-size: 40px ;
}

.icono {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 74px;
    width: 300px;
    font-size: 24px;
}

.icono p{
    margin-top: 0.5em;
    font-size: 24px;
}

.galeria{
    text-align: center;
    opacity: 0.96;
}

.galeria img{
 width: 316px;
 height: 202px;
 margin: 16px;
 margin-top: 73px;
 margin-bottom: 73px;

}

footer{
    background-color: #1E1A13;
    opacity: 0.94;
    font-size: 20px;
    padding-top: 39px;
    text-align: center;
    padding-bottom: 39px;
}
